@model WebMVC.Models.BrandsInput

@{
    ViewBag.Title = "品牌商组";
}

<h2> </h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group hidden">
            @Html.LabelFor(model => model.BrandID, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.BrandID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BrandID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">品牌商资源投入表创建</div>

            <div class="panel-body">
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.Stage, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-6">
                        @Html.DropDownListFor(model => model.Stage, ViewData["stageList"] as List<SelectListItem>, "请选择", new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Stage, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.Brand, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-6">
                        @Html.DropDownListFor(model => model.Brand, ViewData["brands"] as List<SelectListItem>, "请选择", new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Brand, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.advertise, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.advertise, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.advertise, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">投资表</div>
            <div class="panel-body">


                <div class="form-group col-md-4 rc1">
                    @Html.LabelFor(model => model.SurfaceRC1, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.SurfaceRC1, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SurfaceRC1, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-4 rc2">
                    @Html.LabelFor(model => model.SurfaceRC2, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.SurfaceRC2, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SurfaceRC2, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-4 rc3">
                    @Html.LabelFor(model => model.SurfaceRC3, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.SurfaceRC3, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SurfaceRC3, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-4 rc1">
                    @Html.LabelFor(model => model.FunctionRC1, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.FunctionRC1, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FunctionRC1, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-4 rc2">
                    @Html.LabelFor(model => model.FunctionRC2, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.FunctionRC2, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FunctionRC2, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-4 rc3">
                    @Html.LabelFor(model => model.FunctionRC3, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.FunctionRC3, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FunctionRC3, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-4 rc1">
                    @Html.LabelFor(model => model.MaterialRC1, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.MaterialRC1, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MaterialRC1, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-4 rc2">
                    @Html.LabelFor(model => model.MaterialRC2, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.MaterialRC2, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MaterialRC2, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-4 rc3">
                    @Html.LabelFor(model => model.MaterialRC3, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.MaterialRC3, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MaterialRC3, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">市场推广</div>
            <div class="panel-body">

                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.EndImage, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.EndImage, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.EndImage, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.Salesperson, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.Salesperson, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Salesperson, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.HousePromote, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.HousePromote, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.HousePromote, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.demonstrator, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.demonstrator, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.demonstrator, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.outdoorActivity, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.outdoorActivity, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.outdoorActivity, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.promotionTeam, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.promotionTeam, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.promotionTeam, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.servet, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.servet, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.servet, "", new { @class = "text-danger" })
                    </div>

                </div>
                <div class="form-group col-md-4 rc2">
                    @Html.LabelFor(model => model.NewDevelopmentCost, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.NewDevelopmentCost, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NewDevelopmentCost, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                价格管控表
            </div>
            <div class="panel-body">
                <div class="form-group col-md-4 rc1">
                    @Html.LabelFor(model => model.retailPrice, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.retailPrice, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.retailPrice, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-4 rc1">
                    @Html.LabelFor(model => model.SystemPrice, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.SystemPrice, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SystemPrice, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-4 rc2">
                    @Html.LabelFor(model => model.NewCostPrice, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.NewCostPrice, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NewCostPrice, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-4 rc2">
                    @Html.LabelFor(model => model.NewFactoryPrice, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.NewFactoryPrice, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NewFactoryPrice, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-4 rc2">
                    @Html.LabelFor(model => model.NewRetailPriceR2, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.NewRetailPriceR2, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NewRetailPriceR2, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-4 rc2">
                    @Html.LabelFor(model => model.NewSystemPriceR2, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.NewSystemPriceR2, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NewSystemPriceR2, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-md-4 rc3">
                    @Html.LabelFor(model => model.NewRetailPriceR3, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.NewRetailPriceR3, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NewRetailPriceR3, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-md-4 rc3">
                    @Html.LabelFor(model => model.NewSystemPriceR3, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.NewSystemPriceR3, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NewSystemPriceR3, "", new { @class = "text-danger" })
                    </div>
                </div>


            </div>
        </div>





        <div class="form-group col-md-12">
            <div class="col-md-offset-6 col-md-4">
                <input type="submit" value="保存" class="btn btn-warning btn-block" />
            </div>
        </div>
    </div>
}

<div>
    @BootstrapHelpers.PrimaryButton(Url.Action("Index"), "返回列表")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        function selectStage(stage) {
            $('.rc0').hide();
            $('.rc1').hide();
            $('.rc2').hide();
            $('.rc3').hide();

            if (stage == "第一阶段") {
                $('.rc0').show();
                $('.rc1').show();
            } else if (stage == "第二阶段") {

                $('.rc1').show();
                $('.rc2').show();
            } else if (stage == "第三阶段") {

                $('.rc1').show();
                $('.rc2').show();
                $('.rc3').show();
            }

        }
        
        $("#Stage").change(function () {
            var stage = $(this).val();
            selectStage(stage)
        });
        $(function () {
            var stage = $("#Stage").val();
            selectStage(stage)
        })
    </script>

}
