<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 进销存管理</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("进销存管理", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li class="active">@Html.ActionLink("主页", "Index", "Home")</li>*@
                    @*<li >@Html.ActionLink("品牌力", "BrandStrength", "Home")</li>
                        <li>@Html.ActionLink("产品创新力", "ProductInnovation", "Home")</li>*@
                    <li>@Html.ActionLink("代理商组", "Index", "AgentInput")</li>
                    <li>@Html.ActionLink("品牌商组", "Index", "BrandsInput")</li>
                    @*  <li>@Html.ActionLink("资产汇总表", "SummaryAssent", "Home" )</li>
                         <li>@Html.ActionLink("进货报表", "StockReport", "Home" )</li>
                        <li>@Html.ActionLink("市场价格", "MarketPrice", "Home" )</li>
                        <li>@Html.ActionLink("进销存报表", "InvoicingReport", "Home")</li>
                         <li>@Html.ActionLink("投资表", "InvertmentTable", "Home")</li>*@
                    @*<li>@Html.ActionLink("当年占有率", "CurrentShare", "Home")</li>*@
                    <li>@Html.ActionLink("第一期PPT", "FirstPPT", "Home")</li>
                    <li>@Html.ActionLink("第二期PPT", "SecondPPT", "Home")</li>
                    <li>@Html.ActionLink("第三期PPT", "ThirdPPT", "Home")</li>
                    <li>@Html.ActionLink("最终市场占有率", "LastBrand", "Home")</li>
                    @{if (User.IsInRole("Administrators"))
                        {
                            <li>@Html.ActionLink("用户管理", "Index", "Admin")</li>
                            <li>@Html.ActionLink("角色管理", "Index", "Role")</li>
                            @*<li>@Html.ActionLink("Claims", "Index", "Claims")</li>*@
                        }

                    }



                    @{ if (User.Identity.IsAuthenticated)
                        {
                            <li>@Html.ActionLink(@User.Identity.Name, "", "")</li>
                            <li>@Html.ActionLink("用户退出", "LogOut", "Account")</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("用户登录", "Login", "Account")</li>
                        }
                    }
                    @*<li>@Html.ActionLink("联系方式", "Contact", "Home")</li>*@
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 进销存管理</p>   @ViewData["role"]
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
<script>
    var index = "@ViewBag.Title";
    var lis = $('.navbar-nav li');
    for (var i = 0; i < lis.length; i++) {
        $(lis[i]).addClass("active");
        if (index == lis[i].innerText) {
            $(lis[i]).removeClass("active");
            $(lis[i]).addClass("Success");
            // break;
        }
    }
</script>