@model  CurrentShareInit

@{
    ViewBag.Title = "Create";
}

<h2>创建</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4></h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group ">
            @Html.LabelFor(model => model.G, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("G", string.Empty)
                @* @Html.DropDownListFor(model => model.Stage,ViewBag.StageId, "请选择", new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.G, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.D, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.D, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.D, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.E, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.E, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.E, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.F, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.F, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.F, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group First">
            @Html.LabelFor(model => model.H, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.H, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.H, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group First">
            @Html.LabelFor(model => model.Z, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Z, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Z, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group First">
            @Html.LabelFor(model => model.AR, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AR, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AR, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-12">
            <div class="col-md-4">
              
                @BootstrapHelpers.PrimaryButton(Url.Action("Edit", "DataInits", new { id = 1 }), "返回列表")

            </div>   <div class="col-md-offset-4 col-md-4">
                <input type="submit" value="保存" class="btn btn-warning btn-block" />
            </div>
        </div>
    </div>
}
<hr />
<br>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
   
<script>
    function stageSet(stage) {
        
        if (stage == "起始阶段") {
            $('.First').show();
        } else {
            $('.First').hide();
        }
    }

    $(function () {
        stageSet($("#G").val());
         $("#G").change(function () {
            stageSet($(this).val());
        })

    })

</script>
}