@model IEnumerable<WebMVC.Models.CurrentShareInit>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.D)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.E)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.F)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.G)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.H)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Z)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.J)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.D)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.E)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.F)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.G)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.H)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Z)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.J)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
