@model WebMVC.Models.MarketPriceInit

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MarketPriceInit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.M_GrossMargin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.M_GrossMargin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.M_promotional)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.M_promotional)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price_M)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price_M)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price_S)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price_S)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price_J)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price_J)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.priceIndex_M)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.priceIndex_M)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.priceIndex_S)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.priceIndex_S)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.priceIndex_J)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.priceIndex_J)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
