@model WebMVC.Models.RegisterModel
@{
    ViewBag.Title = "注册";
}

<hgroup class="title">
    <h2></h2>
</hgroup>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>用户注册</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.ValidationSummary()
        <div class="form-group">
            @Html.LabelFor(model => model.UserName, new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.UserName)
                @Html.ValidationMessageFor(model => model.UserName)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Password, new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConfirmPassword, new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.ConfirmPassword)
                @Html.ValidationMessageFor(model => model.ConfirmPassword)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-3 col-md-4">
                <input type="submit" value="注册" class="btn btn-success btn-block" />
            </div>
        </div>
        </div>
        
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
