@model WebMVC.Models.StageAddModel

@{
    ViewBag.Title = "Create";
}

<h2> </h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>阶段增加</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        <label class="control-label col-md-2">供应商</label>
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.AgentBrandName, new SelectList(Model.AgentBrandNamelist, "Value", "Text", ""), new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.AgentBrandName, "", new { @class = "text-danger" })
        </div>
    </div> 
    <div class="form-group">
        @Html.LabelFor(model => model.StageType, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.StageType, new SelectList(Model.StageTypeList, "Text", "Text", ""), new { @class = "form-control" })

           
            @Html.ValidationMessageFor(model => model.StageTypeList, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Stage, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Stage, new SelectList(Model.StageList, "Text", "Text", ""), new { @class = "form-control" })

            @Html.ValidationMessageFor(model => model.Stage, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.retail, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.retail, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.retail, "", new { @class = "text-danger" })
        </div>
    </div>

    @*<div class="form-group">
            @Html.LabelFor(model => model.retailPrice, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.retailPrice, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.retailPrice, "", new { @class = "text-danger" })
            </div>
        </div>*@

    <div class="form-group col-md-12">
        <div class="col-md-4">
            @BootstrapHelpers.PrimaryButton(Url.Action("Index"), "返回列表")

        </div>   <div class="col-md-offset-4 col-md-4">
            <input type="submit" value="保存" class="btn btn-warning btn-block" />
        </div>
    </div>
</div>
}
<hr />
@section Scripts{
    <script>

        $(function () {
            $("#AgentBrandName").change(function () {
                //从后台获取阶段进行判断
                var AgentBrandNameNew = $(this).val();
                $('#StageType').empty();
                $.getJSON("/StageAdds/GetStageType?AgentBrandName=" + AgentBrandNameNew, function (data) {
                    $.each(data, function (i, city) {
                        $("#StageType").append('<option value="'
                            + city.Value + '">'
                            + city.Text + '</option>');
                    });  
                });


            })

       
        })
    </script>
  

}