@model WebMVC.Models.StageAdd

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>StageAdd</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AgentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.retail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.retail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.retailPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.retailPrice)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
