@model IEnumerable<WebMVC.Models.StageAdd>

@{
    ViewBag.Title = "Index";
}

<h2> </h2>

<p class="col-lg-offset-9">
    @Html.ActionLink("创建", "Create", null, new { @class = "btn btn-warning btn-block" })
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Stage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StageType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.retail)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.retailPrice)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.Stage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StageType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.retail)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.retailPrice)
        </td>*@
        <td>
            @Html.ActionLink("编辑", "Edit", new { id = item.Id }, new { @class = "btn  btn-warning" })
            @*@Html.ActionLink("详细信息", "Details", new { id = item.id }, new { @class = "btn btn-warning" }) |*@
            @{if (item.Id != 1)
            {
                @Html.ActionLink("删除", "Delete", new { id = item.Id }, new { @class = "btn btn-warning" })
        }

            }
        </td>
    </tr>
}

</table>
