@model WebMVC.Models.AgentInput

@{
    ViewBag.Title = "代理商组";
}

<h2> </h2>

<div class="col-md-12">
    <h4>代理商数据详细信息</h4>
    <hr />
    <div class="col-md-6">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.AgentName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AgentName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Stage)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Stage)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EndImage)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EndImage)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Salesperson)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Salesperson)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.HousePromote)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HousePromote)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.demonstrator)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.demonstrator)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.outdoorActivity)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.outdoorActivity)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.promotionTeam)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.promotionTeam)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.servet)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.servet)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.bankLoan)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.bankLoan)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.retailPriceRC1)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.retailPriceRC1)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SystemPriceRC1)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SystemPriceRC1)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.retailPriceRC2)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.retailPriceRC2)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SystemPriceRC2)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SystemPriceRC2)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.retailPriceRC3)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.retailPriceRC3)
            </dd>


        </dl>
    </div>
    <div class="col-md-6">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.SystemPriceRC3)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.SystemPriceRC3)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.brandAgent)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.brandAgent)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.purchase)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.purchase)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.actualSale)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.actualSale)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Inventory)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Inventory)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FirstPurchase)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FirstPurchase)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SecondPurchase)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SecondPurchase)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ThirdPurchase)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ThirdPurchase)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UserId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.InputSum)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.InputSum)
            </dd>

        </dl>
    </div>
</div>

<p class="col-md-offset-9">
    @Html.ActionLink("编辑", "Edit", new { id = Model.AgentId }, new { @class = "btn btn-success " })
    @Html.ActionLink("返回列表", "Index", null, new { @class = "btn btn-success " })
</p>
