@model IEnumerable<WebMVC.BLL.ChannelServiceTable>

@{
    ViewBag.Title = "渠道服务";
}

<h4>渠道服务</h4>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Stage)
        </th>
        @for (int i = 0; i < Model.Last().AB.Agent.Count; i++)
    {

        <th>
            AN_Agent@(i )
        </th>
}

        @for (int i = 0; i < Model.Last().B.Agent.Count; i++)
    {
        <th>
            D_Agent@(i )
        </th>

}
        @for (int i = 0; i < Model.Last().J.Agent.Count; i++)
    {
        <th>
            J_J_Agent@(i )
        </th>
        <th>
            P_J_Agent@(i )
        </th>
        <th>
            V_J_Agent@(i )
        </th>
}



        <th>Bm</th>
        <th>Bj</th>

    </tr>

    @foreach (var item in Model)
    {
    <tr>
        @for (int i = 0; i < item.AB.Agent.Count; i++)
    {

        <td>
            @Math.Round(item.AB.Agent[i], 3)
        </td>
}
        <td>
            @Html.DisplayFor(modelItem => item.Stage)
        </td>
        @for (int i = 0; i < item.B.Agent.Count; i++)
    {
        <td>
            @Math.Round(item.B.Agent[i], 3)
        </td>
}

        @for (int i = 0; i < item.J.Agent.Count; i++)
    {
        <td>
            @Math.Round(item.J.M[i], 3)
        </td>
        <td>
            @Math.Round(item.J.J[i], 3)
        </td>
        <td>
            @Math.Round(item.J.Agent[i], 3)
        </td>
}




        <td>@Html.DisplayFor(modelItem => item.B.M)</td>
        <td>@Html.DisplayFor(modelItem => item.B.J)</td>








    </tr>
    }

</table>
