@model IEnumerable<WebMVC.BLL.InvoicingTable>

@{
    ViewBag.Title = "进销存报表";
}

<h4>进销存报表</h4>

<p>
    
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AgentName)
        </th>
        @for (int i = 0; i < Model.First().DStage.Count; i++)
    {
        for (int j = 0; j < Model.First().DStage[i].Count; j++)
        {
            <th>
                库存D@(i + "" + j)
            </th>
    }
}
        @for (int i = 0; i < Model.First().BStage.Count; i++)
    {
        for (int j = 0; j < Model.First().BStage[i].Count; j++)
        {
            <th>
                进货B@(i + "" + j)
            </th>
    }
}
        @for (int i = 0; i < Model.First().CStage.Count; i++)
    {
        for (int j = 0; j < Model.First().CStage[i].Count; j++)
        {
            <th>
               实际销售C@(i + "" + j)
            </th>
    }
}
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AgentName)
        </td>
        @for (int i = 0; i < item.DStage.Count; i++)
    {
        for (int j = 0; j < item.DStage[i].Count; j++)
        {
            <td>
                @item.DStage[i][j]
            </td>
    }

}
        @for (int i = 0; i < item.BStage.Count; i++)
    {
        for (int j = 0; j < item.BStage[i].Count; j++)
        {
            <td>
                @item.BStage[i][j]
            </td>
    }

}
        @for (int i = 0; i < item.CStage.Count; i++)
    {
        for (int j = 0; j < item.CStage[i].Count; j++)
        {
            <td>
                @item.CStage[i][j]
            </td>
    }

}



    </tr>
}

</table>
