@model IEnumerable<WebMVC.BLL.LastBrandTable>

@{
    ViewBag.Title = "最终市场占有率";
}

<h2>LastBrand</h2>

 
<table class="table">
    <tbody>最终三个品牌的市场占有率</tbody>
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.B)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.C)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.D)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.E)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.F)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.G)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.H)
        </th>
 
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Brand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.B)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.C)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.D)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.E)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.F)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.G)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.H)
        </td>
      
    </tr>
}

</table>
