@model IEnumerable<WebMVC.BLL.MarketPromotionTable>

@{
    ViewBag.Title = "市场推广";
}

<h4>市场推广</h4>

 
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Stage)
        </th>

        @for (int i = 0; i < Model.Last().BP.Agent.Count; i++)
    {
            <th>
                Agent@(i)
            </th>
    }
}
        <th>B</th>
        <th>I</th>
        <th>J</th>

        <th>R</th>
        <th>Y</th>
        <th>Z</th>

        <th>AG</th>
        <th>AH</th>

        <th>AP</th>


        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.Stage)
        </td>


        @for (int i = 0; i < item.BP.Agent.Count; i++)
    {
         
            <td>
                @Math.Round(item.BP.Agent[i], 3)
            </td>
 

}
        <td>@Html.DisplayFor(modelItem => item.B.M)</td>
        <td>@Html.DisplayFor(modelItem => item.B.J)</td>
        <td>@Html.DisplayFor(modelItem => item.J.M)</td>
        <td>@Html.DisplayFor(modelItem => item.J.J)</td>
        <td>@Html.DisplayFor(modelItem => item.R.M)</td>
        <td>@Html.DisplayFor(modelItem => item.R.J)</td>
        <td>@Html.DisplayFor(modelItem => item.Z.M)</td>
        <td>@Html.DisplayFor(modelItem => item.Z.J)</td>
        <td>@Html.DisplayFor(modelItem => item.AH.M)</td>
        <td>@Html.DisplayFor(modelItem => item.AH.J)</td>
        <td>@Html.DisplayFor(modelItem => item.AP.M)</td>
        <td>@Html.DisplayFor(modelItem => item.AP.J)</td>




    </tr>
}

</table>
