@model IEnumerable<WebMVC.BLL.MarketTable>

@{
    ViewBag.Title = "市场价格";
}

<h2>MarketPrice</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Stage)
        </th>

        @for (int i = 0; i < Model.Last().EF.First().Value.Agent.Count; i++)
    {

        <th>
            BL_Agent@(i )
        </th>
}



        @for (int i = 0; i < Model.Last().BL.First().Value.Agent.Count; i++)
    {

        <th>
            BL_Agent@(i )
        </th>
}






    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Stage)
        </td>
        @for (int i = 0; i < item.EF[0].Agent.Count; i++)
    {

        <td>
            @Math.Round(item.EF[0].Agent[i], 3)
        </td>
}

        @for (int i = 0; i < item.BL[0].Agent.Count; i++)
    {

        <td>
            @Math.Round(item.BL[0].Agent[i], 3)
        </td>
}


    </tr>
}

</table>
