@model IEnumerable<WebMVC.BLL.ProductInnvoationTable>

@{
    ViewBag.Title = "产品创新力";
}

<h2> </h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Stage)
        </th>
        <th>B</th>
        <th>C</th>
        <th>D</th>
        <th>E</th>
        <th>F</th>
        <th>G</th>
        <th>H</th>
        <th>I</th>
        <th>J</th>
        <th>K</th>
        <th>L</th>
        <th>M</th>
        <th>N</th>
        <th>O</th>
        <th>P</th>
        <th>Q</th>
        <th>R</th>
        <th>S</th>
        <th>T</th>
        <th>U</th>
        <th>V</th>
        <th>W</th>
        <th>X</th>
        <th>Y</th>
         <th>Z</th>
        <th>AA</th>
        <th>AB</th>
        <th>AC</th>
        <th>AD</th>
        <th>AE</th>
        <th>AF</th>
        <th>AG</th>
        <th>AH</th>
        <th>AI</th>
        <th>AJ</th>
        <th>AK</th>
        <th>AL</th>
        <th>AM</th>
        <th>AN</th>
        <th>AO</th>
        <th>AP</th>
        <th>AQ</th>
        <th>AR</th>
        <th>AS</th>
        <th>AT</th>
        <th>AU</th>
        <th>AV</th>
        <th>AW</th>
        <th>AX</th>
        <th>AY</th>
        <th>AZ</th>
        <th>BA</th>
        <th>BB</th>
        <th>BC</th>
        <th>BD</th>
        <th>BE</th>
        <th>BF</th>
        <th>BG</th>
        <th>BH</th>
        <th>BI</th> 
        <th>BJ</th>
        <th>BK</th>
        <th>BL</th>
        <th>BM</th>
        <th>BN</th>
        <th>BO</th>
        <th>BP</th>
        <th>BQ</th>
        <th>BR</th>
        <th>BS</th>
        <th>BT</th>
        <th>BU</th>
        <th>BV</th>
        <th>BW</th>
        <th>BX</th>
        <th>BY</th>
        <th>BZ</th>
        <th>CA</th>
        <th>CB</th>
        <th>CC</th>
        <th>CD</th>
        <th>CE</th>
        <th>CF</th>
        <th>CG</th>
        <th>CH</th>
        <th>CI</th>
        <th>CJ</th>
        <th>CK</th>
        <th>CL</th>
        <th>CM</th>
        <th>CN</th>
        <th>CO</th>
        <th>CP</th>
        <th>CQ</th>
        <th>CR</th>
        <th>CS</th>
        <th>CT</th>
        <th>CU</th>
        <th>CV</th>
        <th>CW</th>
        <th>CX</th>
        <th>CY</th>
        <th>CZ</th>
        <th>DA</th>
        <th>DB</th>
       
        <th>
            @Html.DisplayNameFor(model => model.DD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DF)
        </th>
      
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Stage)
        </td>
        <td>@Html.DisplayFor(modelItem => item.B.RC1.M)</td>
        <td>@Html.DisplayFor(modelItem => item.B.RC1.S)</td>
        <td>@Html.DisplayFor(modelItem => item.B.RC1.J)</td>
        <td>@Html.DisplayFor(modelItem => item.B.RC2.M)</td>
        <td>@Html.DisplayFor(modelItem => item.B.RC2.S)</td>
        <td>@Html.DisplayFor(modelItem => item.B.RC2.J)</td>
        <td>@Html.DisplayFor(modelItem => item.B.RC3.M)</td>
        <td>@Html.DisplayFor(modelItem => item.B.RC3.S)</td>
        <td>@Html.DisplayFor(modelItem => item.B.RC3.J)</td>
        <td>@Html.DisplayFor(modelItem => item.K.RC1.M)</td>
        <td>@Html.DisplayFor(modelItem => item.K.RC1.S)</td>
        <td>@Html.DisplayFor(modelItem => item.K.RC1.J)</td>
        <td>@Html.DisplayFor(modelItem => item.K.RC2.M)</td>
        <td>@Html.DisplayFor(modelItem => item.K.RC2.S)</td>
        <td>@Html.DisplayFor(modelItem => item.K.RC2.J)</td>
        <td>@Html.DisplayFor(modelItem => item.K.RC3.M)</td>
        <td>@Html.DisplayFor(modelItem => item.K.RC3.S)</td>
        <td>@Html.DisplayFor(modelItem => item.K.RC3.J)</td>
        <td>@Html.DisplayFor(modelItem => item.T.RC1.M)</td>
        <td>@Html.DisplayFor(modelItem => item.T.RC1.S)</td>
        <td>@Html.DisplayFor(modelItem => item.T.RC1.J)</td>
        <td>@Html.DisplayFor(modelItem => item.T.RC2.M)</td>
        <td>@Html.DisplayFor(modelItem => item.T.RC2.S)</td>
        <td>@Html.DisplayFor(modelItem => item.T.RC2.J)</td>
        <td>@Html.DisplayFor(modelItem => item.T.RC3.M)</td>
        <td>@Html.DisplayFor(modelItem => item.T.RC3.S)</td>
        <td>@Html.DisplayFor(modelItem => item.T.RC3.J)</td>
        <td>@Html.DisplayFor(modelItem => item.AC.RC1.M)</td>
        <td>@Html.DisplayFor(modelItem => item.AC.RC1.S)</td>
        <td>@Html.DisplayFor(modelItem => item.AC.RC1.J)</td>
        <td>@Html.DisplayFor(modelItem => item.AC.RC2.M)</td>
        <td>@Html.DisplayFor(modelItem => item.AC.RC2.S)</td>
        <td>@Html.DisplayFor(modelItem => item.AC.RC2.J)</td>
        <td>@Html.DisplayFor(modelItem => item.AC.RC3.M)</td>
        <td>@Html.DisplayFor(modelItem => item.AC.RC3.S)</td>
        <td>@Html.DisplayFor(modelItem => item.AC.RC3.J)</td>
        <td>@Html.DisplayFor(modelItem => item.AL.RC1.M)</td>
        <td>@Html.DisplayFor(modelItem => item.AL.RC1.S)</td>
        <td>@Html.DisplayFor(modelItem => item.AL.RC1.J)</td>
        <td>@Html.DisplayFor(modelItem => item.AL.RC2.M)</td>
        <td>@Html.DisplayFor(modelItem => item.AL.RC2.S)</td>
        <td>@Html.DisplayFor(modelItem => item.AL.RC2.J)</td>
        <td>@Html.DisplayFor(modelItem => item.AL.RC3.M)</td>
        <td>@Html.DisplayFor(modelItem => item.AL.RC3.S)</td>
        <td>@Html.DisplayFor(modelItem => item.AL.RC3.J)</td>
        <td>@Html.DisplayFor(modelItem => item.AU.RC1.M)</td>
        <td>@Html.DisplayFor(modelItem => item.AU.RC1.S)</td>
        <td>@Html.DisplayFor(modelItem => item.AU.RC1.J)</td>
        <td>@Html.DisplayFor(modelItem => item.AU.RC2.M)</td>
        <td>@Html.DisplayFor(modelItem => item.AU.RC2.S)</td>
        <td>@Html.DisplayFor(modelItem => item.AU.RC2.J)</td>
        <td>@Html.DisplayFor(modelItem => item.AU.RC3.M)</td>
        <td>@Html.DisplayFor(modelItem => item.AU.RC3.S)</td>
        <td>@Html.DisplayFor(modelItem => item.AU.RC3.J)</td>
        <td>@Html.DisplayFor(modelItem => item.BD.RC1.M)</td>
        <td>@Html.DisplayFor(modelItem => item.BD.RC1.S)</td>
        <td>@Html.DisplayFor(modelItem => item.BD.RC1.J)</td>
        <td>@Html.DisplayFor(modelItem => item.BD.RC1.Average)</td>

        <td>@Html.DisplayFor(modelItem => item.BD.RC2.M)</td>
        <td>@Html.DisplayFor(modelItem => item.BD.RC2.S)</td>
        <td>@Html.DisplayFor(modelItem => item.BD.RC2.J)</td>
        <td>@Html.DisplayFor(modelItem => item.BD.RC2.Average)</td>

        <td>@Html.DisplayFor(modelItem => item.BD.RC3.M)</td>
        <td>@Html.DisplayFor(modelItem => item.BD.RC3.S)</td>
        <td>@Html.DisplayFor(modelItem => item.BD.RC3.J)</td>
        <td>@Html.DisplayFor(modelItem => item.BD.RC3.Average)</td>

        <td>@Html.DisplayFor(modelItem => item.BP.RC1.M)</td>
        <td>@Html.DisplayFor(modelItem => item.BP.RC1.S)</td>
        <td>@Html.DisplayFor(modelItem => item.BP.RC1.J)</td>
        <td>@Html.DisplayFor(modelItem => item.BP.RC1.Average)</td>

        <td>@Html.DisplayFor(modelItem => item.BP.RC2.M)</td>
        <td>@Html.DisplayFor(modelItem => item.BP.RC2.S)</td>
        <td>@Html.DisplayFor(modelItem => item.BP.RC2.J)</td>
        <td>@Html.DisplayFor(modelItem => item.BP.RC2.Average)</td>

        <td>@Html.DisplayFor(modelItem => item.BP.RC3.M)</td>
        <td>@Html.DisplayFor(modelItem => item.BP.RC3.S)</td>
        <td>@Html.DisplayFor(modelItem => item.BP.RC3.J)</td>
        <td>@Html.DisplayFor(modelItem => item.BP.RC3.Average)</td>
        <td>@Html.DisplayFor(modelItem => item.CB.RC1.M)</td>
        <td>@Html.DisplayFor(modelItem => item.CB.RC1.S)</td>
        <td>@Html.DisplayFor(modelItem => item.CB.RC1.J)</td>
        <td>@Html.DisplayFor(modelItem => item.CB.RC2.M)</td>
        <td>@Html.DisplayFor(modelItem => item.CB.RC2.S)</td>
        <td>@Html.DisplayFor(modelItem => item.CB.RC2.J)</td>
        <td>@Html.DisplayFor(modelItem => item.CB.RC3.M)</td>
        <td>@Html.DisplayFor(modelItem => item.CB.RC3.S)</td>
        <td>@Html.DisplayFor(modelItem => item.CB.RC3.J)</td>
        <td>@Html.DisplayFor(modelItem => item.CK.RC1.M)</td>
        <td>@Html.DisplayFor(modelItem => item.CK.RC1.S)</td>
        <td>@Html.DisplayFor(modelItem => item.CK.RC1.J)</td>
        <td>@Html.DisplayFor(modelItem => item.CK.RC2.M)</td>
        <td>@Html.DisplayFor(modelItem => item.CK.RC2.S)</td>
        <td>@Html.DisplayFor(modelItem => item.CK.RC2.J)</td>
        <td>@Html.DisplayFor(modelItem => item.CK.RC3.M)</td>
        <td>@Html.DisplayFor(modelItem => item.CK.RC3.S)</td>
        <td>@Html.DisplayFor(modelItem => item.CK.RC3.J)</td>
        <td>@Html.DisplayFor(modelItem => item.CT.RC1.M)</td>
        <td>@Html.DisplayFor(modelItem => item.CT.RC1.S)</td>
        <td>@Html.DisplayFor(modelItem => item.CT.RC1.J)</td>
        <td>@Html.DisplayFor(modelItem => item.CT.RC2.M)</td>
        <td>@Html.DisplayFor(modelItem => item.CT.RC2.S)</td>
        <td>@Html.DisplayFor(modelItem => item.CT.RC2.J)</td>
        <td>@Html.DisplayFor(modelItem => item.CT.RC3.M)</td>
        <td>@Html.DisplayFor(modelItem => item.CT.RC3.S)</td>
        <td>@Html.DisplayFor(modelItem => item.CT.RC3.J)</td>
        <td>
            @Html.DisplayFor(modelItem => item.DD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DF)
        </td>
        
    </tr>
}

</table>
