@model IEnumerable<WebMVC.BLL.StockReportTable>

@{
    ViewBag.Title = "StockReport";
}

<h2>StockReport</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Stage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.B)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.C)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.D)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Stage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AgentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.B)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.C)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.D)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
