@model IEnumerable<WebMVC.BLL.SummaryTable>

@{
    ViewBag.Title = "SummaryAssent";
}

<h2>SummaryAssent</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.A)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.B)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.C)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.D)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.E)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.F)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.G)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.H)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.I)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.J)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.K)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.L)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.M)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.N)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.O)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.P)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Q)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.R)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.S)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.T)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.U)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.V)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.W)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.X)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Y)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Z)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AJ)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AQ)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.A)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.B)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.C)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.D)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.E)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.F)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.G)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.H)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.I)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.J)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.K)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.L)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.M)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.N)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.O)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.P)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Q)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.R)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.S)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.T)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.U)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.V)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.W)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.X)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Y)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Z)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AF)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AJ)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AQ)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
