@model WebMVC.Models.MarketPromotionInit

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MarketPromotionInit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MarketPromotionInit_AY1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarketPromotionInit_AY1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MarketPromotionInit_AY2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarketPromotionInit_AY2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MarketPromotionInit_AX1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarketPromotionInit_AX1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MarketPromotionInit_AX2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarketPromotionInit_AX2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MarketPromotionInit_AX3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarketPromotionInit_AX3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MarketPromotionInit_AX4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarketPromotionInit_AX4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MarketPromotionInit_AX5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarketPromotionInit_AX5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MarketPromotionInit_AX6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarketPromotionInit_AX6)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
