@model WebMVC.Models.ProductInnovationInit

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProductInnovationInit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductInnovation_M)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductInnovation_M)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductInnovation_S)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductInnovation_S)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductInnovation_J)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductInnovation_J)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductInnovation_T)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductInnovation_T)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductInnovation_AC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductInnovation_AC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductInnovation_AL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductInnovation_AL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductInnovation_CB1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductInnovation_CB1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductInnovation_CB2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductInnovation_CB2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductInnovation_CB3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductInnovation_CB3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductInnovation_CB4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductInnovation_CB4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductInnovation_CK1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductInnovation_CK1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductInnovation_CK2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductInnovation_CK2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductInnovation_CK3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductInnovation_CK3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductInnovation_CK4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductInnovation_CK4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductInnovation_CK5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductInnovation_CK5)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
