@model WebMVC.Models.ProductInnovationInit

@{
    ViewBag.Title = "Edit";
}

<h2> </h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>产品创新力部分设置</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)
        <div class="panel panel-primary" id="accordion">
            <div class="panel-heading"><span class="panel-title">创新指数
    @*<a data-toggle="collapse" data-parent="#accordion"
       href="#collapseOne" class="col-md-offset-10  ">折叠</a>*@</span>
</div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div  class="panel-body">
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.ProductInnovation_M, htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.ProductInnovation_M, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ProductInnovation_M, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.ProductInnovation_S, htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.ProductInnovation_S, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ProductInnovation_S, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.ProductInnovation_J, htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.ProductInnovation_J, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ProductInnovation_J, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            </div>
        <div class="panel panel-primary">
            <div class="panel-heading">创新投入占比</div>

            <div class="panel-body">
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.ProductInnovation_T, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.ProductInnovation_T, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ProductInnovation_T, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.ProductInnovation_AC, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.ProductInnovation_AC, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ProductInnovation_AC, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.ProductInnovation_AL, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.ProductInnovation_AL, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ProductInnovation_AL, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">外观创新产出系数</div>

            <div class="panel-body">
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.ProductInnovation_CB1, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.ProductInnovation_CB1, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ProductInnovation_CB1, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.ProductInnovation_CB2, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.ProductInnovation_CB2, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ProductInnovation_CB2, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.ProductInnovation_CB3, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.ProductInnovation_CB3, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ProductInnovation_CB3, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.ProductInnovation_CB4, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.ProductInnovation_CB4, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ProductInnovation_CB4, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.ProductInnovation_CB5, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.ProductInnovation_CB5, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ProductInnovation_CB5, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">功能创新产出系数</div>

            <div class="panel-body">
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.ProductInnovation_CK1, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.ProductInnovation_CK1, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ProductInnovation_CK1, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.ProductInnovation_CK2, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.ProductInnovation_CK2, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ProductInnovation_CK2, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.ProductInnovation_CK3, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.ProductInnovation_CK3, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ProductInnovation_CK3, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.ProductInnovation_CK4, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.ProductInnovation_CK4, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ProductInnovation_CK4, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.ProductInnovation_CK5, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.ProductInnovation_CK5, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ProductInnovation_CK5, "", new { @class = "text-danger" })
                    </div>
                </div>
               </div>
            </div>
                <div class="form-group col-md-12">
                    <div class="col-md-offset-6 col-md-4">
                        <input type="submit" value="更新" class="btn btn-warning btn-block" />
                    </div>
                </div>
            </div>
            }

            <div>
<pre style="width:1143px;height:350px;margin-top:30px">
 产品创新力部分：
        1)	起始阶段最初三个品牌M/S/J创新指数均分别为35%、45%、20%；
        2)	起始阶段三个品牌对外观、功能、材料等方面的创新投入占比分别为30%、50%、20%；
        3)	外观创新，无成本优势，但更有市场竞争力，当然也面临风险，即你的该项投入低于三大品牌的平均投入时，所遭遇的市场风险。
        假定最高投入者，产出系数为1.2；
        中间投入者，若不低于平均投入，产出系数为1.1，
        等于平均投入，产出系数为1，低于平均投入，产出系数为0.9；
        最低投入者，产出系数为0.8；
        外观创新对创新指数的影响为：上一年创新指数+上一年外观创新指数的次级指数=上一年创新指数+（上一年外观创新指数-上一年平均指数）*上一年外观创新产出系数；
        4)	功能创新，无成本优势，但更有市场竞争力，当然也面临风险，即你的该项投入低于三大品牌的平均投入时，所遭遇的市场风险。
        假定最高投入者，产出系数为1.3；
        中间投入者，若不低于平均投入，产出系数为1.15，
        等于平均投入，产出系数为1，低于平均投入，产出系数为0.85；
        最低投入者，产出系数为0.7；
        功能创新对创新指数的影响为：上一年创新指数+上一年功能创新指数的次级指数=上一年创新指数+（上一年功能创新指数-上一年平均指数）*上一年功能创新产出系数；
        5)	本年创新指数=上一年创新指数+外观创新指数的次级指数*40%+功能创新指数的次级指数*60%；
        6)	材料创新，有成本优势，每投入100万，可降低2%的成本；

</pre>


            </div>
